replicaCount: 1

image:
  repository: phpmyadmin/phpmyadmin
  pullPolicy: IfNotPresent
  tag: "5.2.0"

service:
  type: NodePort
  port: 80
  nodePort: 30000

ingress:
  enabled: false

database:
  configmap: 
  secret: 
